{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls %}

{% block content %}
    <!-- Summary image -->
    <h3>{{ subheading }}</h3>
    <br><hr><br>
    <form style='padding: 2px' name="submit" method="post">
        {% csrf_token %}
        <div style="display: flex">
            <div style="flex: 50%">
                <h3>{{ name }}</h3>
                <p>{{ description }}</p>
                {{ image }}
                <table>
                    <tr>
                        {% for key, value in properties.items %}
                        <td>{{ key }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for key, value in properties.items %}
                        <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                </table>
                <br>

                <!-- Tag detection -->
                <h2>Add or create tag</h2>
                <label>Create Tag</label>
                <input type="text" name="tag_create" id="tag_create" />
                <div></div>
                <label>or select existing Tag</label>
                <select name="tag_select" id="tag_select">
                    <option value="None">None</option>
                    {% for object in tags.all %}
                    <option value={{ object.id }}>{{ object }}</option>
                    {% endfor %}
                </select>
                <div></div>

                <!-- Comment detection -->
                <h2>Add comment</h2>
                <input type="text" name="comment" id="comment" />
            </div>
            <div style="flex: 50%">
                <h3>{{ conflict_name }}</h3>
                <p>{{ conflict_description }}</p>
                {{ conflict_image }}
                <table>
                    <tr>
                        {% for key, value in conflict_properties.items %}
                        <td>{{ key }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for key, value in conflict_properties.items %}
                        <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                </table>
                <br>
                <!-- Tag detection -->
                <h2>Add or create tag</h2>
                <label>Create Tag</label>
                <input type="text" name="tag_create_conflict" id="tag_create_conflict" />
                <div></div>
                <label>or select existing Tag</label>
                <select name="tag_select_conflict" id="tag_select_conflict">
                    <option value="None">None</option>
                    {% for object in tags.all %}
                    <option value={{ object.id }}>{{ object }}</option>
                    {% endfor %}
                </select>
                <div></div>

                <!-- Comment detection -->
                <h2>Add comment</h2>
                <input type="text" name="comment_conflict" id="comment_conflict" />
            </div>
        </div>
        <br><hr><br>
        <input type="hidden" name="external_conflict_id" value={{ external_conflict_id }}>
        <input type="hidden" name="run_id" value={{ run_id }}>
        <input name='action' style='background-color: rgba(6, 119, 0, 0.827);' id='submit' type="submit" value="Add tags and comments">
    </form>

    <div style='display: table'>
        <form style='padding: 2px; display: table-cell' method="post">
            {% csrf_token %}
            <input type="hidden" name="external_conflict_id" value={{ external_conflict_id }}>
            <input type="hidden" name="run_id" value={{ run_id }}>
            <input name='action' id='previous' type="submit" value="Previous">
        </form>
        <form style='padding: 2px; display: table-cell' method="post">
            {% csrf_token %}
            <input type="hidden" name="external_conflict_id" value={{ external_conflict_id }}>
            <input type="hidden" name="run_id" value={{ run_id }}>
            <input name='action' id='delete' type="submit" value="Keep new source name">
        </form>
        <form style='padding: 2px; display: table-cell' method="post">
            {% csrf_token %}
            <input type="hidden" name="external_conflict_id" value={{ external_conflict_id }}>
            <input type="hidden" name="run_id" value={{ run_id }}>
            <input name='action' id='add_to_existing' type="submit" value="Copy old source name">
        </form>
        <form style='padding: 2px; display: table-cell' method="post">
            {% csrf_token %}
            <input type="hidden" name="external_conflict_id" value={{ external_conflict_id }}>
            <input type="hidden" name="run_id" value={{ run_id }}>
            <input name='action' id='delete' type="submit" value="Delete detection">
        </form>
        <form style='padding: 2px; display: table-cell' method="post">
            {% csrf_token %}
            <input type="hidden" name="external_conflict_id" value={{ external_conflict_id }}>
            <input type="hidden" name="run_id" value={{ run_id }}>
            <input name='action' id='next' type="submit" value="Next">
        </form>
    </div>
{% endblock %}