[web]
bindAddress:
serverPort: 8080
serverURL: https://dingo.aussrc.org
adaptProtocol: False
sqlTimeout: 86400
maxUploadSize: 2000000000

[async]
defaultExecTime: 86400
defaultExecTimeSync: 86400
maxTAPRunning: 12
maxUserUWSRunningDefault: 12
hardMAXREC: 70000000

[db]
indexWorkMem: 32768
